/* src/SearchResultsPage/SearchResults.css */
.search-results-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the left within the container */
}

.results-title {
    font-size: 1.5em;
    margin: 20px 0;
    padding-left: 180px;
}

.search-results-keyword {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 80px;
    padding-left: 180px;
    max-width: calc(180px * 6 + 40px * 4);
}

.search-results-movie-card {
    flex: 0 0 200px;
    background-color: #323232;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.2s;
    padding: 10px;
    text-decoration: none;
}

.movie-card:hover {
    transform: scale(1.05);
}

.search-results-movie-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.search-results-movie-title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    color: white;
}

.search-results-movie-rating {
    font-size: 14px;
    color: #FFD700;
    margin: 5px 0;
}

.pagination {
    margin-top: 20px;
    padding-left: 40px;
}

.page-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.page-button.active {
    background-color: #0056b3;
}
