.movie-results-container {
    display: flex;
    padding: 20px;
}

.movie-results-movie-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.movie-results-content {
    flex: 1;
}

.movie-results-title {
    font-size: 24px;
    font-weight: bold;
}

.movie-results-description {
    margin: 10px 0;
}

.movie-results-release-year,
.movie-results-genre,
.movie-results-language,
.movie-results-rating {
    margin: 5px 0;
}

.movie-results-cast {
    margin-top: 20px;
}

.movie-results-cast-list {
    display: flex;
    flex-wrap: wrap;
}

.movie-results-cast-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.movie-results-cast-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.movie-results-watch-providers {
    margin-top: 20px;
}

.movie-results-watch-list {
    display: flex;
    flex-wrap: wrap;
}

.movie-results-provider {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.movie-results-provider-image {
    width: 50px;
    height: auto;
    margin-right: 5px;
}
