.movie-results-classname-container {
    padding: 20px;
}

.movie-results-classname-loading,
.movie-results-classname-error {
    font-size: 18px;
}

.movie-results-classname-content {
    display: flex;
    flex-direction: column;
}

.movie-results-classname-title {
    font-size: 24px;
    font-weight: bold;
}

.movie-results-classname-movie-image {
    width: 300px; /* Adjust as needed */
    height: auto;
}

.movie-results-classname-description {
    margin: 10px 0;
}

.movie-results-classname-release-year,
.movie-results-classname-language,
.movie-results-classname-rating {
    margin: 5px 0;
}

.movie-results-classname-cast {
    margin-top: 20px;
}

.movie-results-classname-cast-title {
    font-size: 20px;
    font-weight: bold;
}

.movie-results-classname-cast-list {
    display: flex;
    flex-wrap: wrap;
}

.movie-results-classname-cast-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.movie-results-classname-cast-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.movie-results-classname-watch-providers {
    margin-top: 20px;
}

.movie-results-classname-watch-providers-title {
    font-size: 20px;
    font-weight: bold;
}

.movie-results-classname-watch-list {
    display: flex;
    flex-wrap: wrap;
}

.movie-results-classname-provider {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.movie-results-classname-provider-image {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.movie-results-classname-videos {
    margin-top: 20px;
}

.movie-results-classname-videos-title {
    font-size: 20px;
    font-weight: bold;
}

.movie-results-classname-video {
    margin-bottom: 10px;
}

.movie-results-classname-video-iframe {
    width: 100%; /* Responsive width */
    height: 315px; /* Fixed height */
}